.rsImg {
    max-width: 100vh;
}

.directions li{
    font-size: 14px;
    margin: 20px 0;
    margin-left: 120px;
    font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}